<h1>Products</h1>


<div data-controller="hello" data-hello-url-value=<%= line_items_path %> data-hello-count-value=<%= Cart.quantity_count session[:cart_id] %> class="image-container"  >
  <% @products.each do |product| %>
    <div class="item-image">
    <div class="pinImage">
   
      <%= link_to image_tag(product.image), product %>
      
     
      
      
    
      </div>
      <%= link_to product.product_name, product %>
      
      
      
      
      <button data-action="hello#addToCart" data-session="<%=(session[:cart_id]) ? Cart.find(session[:cart_id]).line_items.sum { |x| x['quantity']} : 0 %>" id='<%=product.id%>'>add to cart</button>
      
    </div>
    
    
  <% end %>
  <div>Cart count</div>
  <div data-hello-target="cart"><%=(session[:cart_id]) ? Cart.find(session[:cart_id]).line_items.sum { |x| x['quantity']} : 0 %></div>
</div>

<%=Cart.quantity_count session[:cart_id] %>
<%= link_to "New Product", new_product_path %>
