<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <p class= "notice"><%=notice%></p>
    <% if user_signed_in? %>
       <%= link_to current_user.email, edit_user_registration_path %>
       <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <%else%>
        <%= link_to "sign up", new_user_registration_path %>
        <%= link_to "login", new_user_session_path %>
    <%end%>
    <%= yield %>
  </body>
</html>
